@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,200;0,300;0,600;1,100&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Work Sans';
    margin: 0;
    padding: 0;
}

html{
    /*Esto me permite desizar cuando hago clic en los link del menu*/
    scroll-behavior: smooth;
}

/*MENU*/
.contenedor-header {
    background: #1e2326;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;

}

.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.contenedor-header header .logo a{
    font-family: 'Righteous';
    font-size: 36px;
    color: #1CB698;
    text-decoration: none;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
    color: #1CB698;
}

.nav-responsive{
    background-color: #1CB698;
    color: #fff ;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: none;
}

.inicio{
    background: linear-gradient(to top, rgba(30, 35, 38, .8), rgba(30, 35, 38, 1)),
    url(/assets/img/fondo1.jpg);
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;

}

.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 350px;
    margin: auto;
    text-align: center;
    border-radius: 40px;

}

.inicio .contenido-banner img{
    margin-top: 40px;
    border: 5px solid #1CB698;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 100%;
}

.inicio .contenido-banner h1{
    margin-top: 25px;
    font-size: 28px;
    font-family: 'Righteous';

}

.inicio .contenido-banner h2{
    font-size: 15px;
    font-family: 'Righteous';
    font-weight: normal;
}

.inicio .contenido-banner .redes a{
    color: #fff ;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 40px;
    height: 40px;
    line-height: 40px;
    margin: 39px 5px;
    font-size: 20px;
    transition: .3s;
}

.inicio .contenido-banner .redes a:hover{
    background-color: #1CB698;

}

/*SOBREMI*/ 

.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.sobremi h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.sobremi .contenido-seccion p{
    font: 18px;
    line-height: 22px;
    margin-bottom: 20px;
}

.sobremi .contenido-seccion p span{
    color: #1CB698;
    font-weight: bold;
}

.sobremi .fila{
    display: flex;
}

.sobremi .fila .col{
    width: 50%
}

.sobremi .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.sobremi .fila .col ul{
    list-style: none;
}

.sobremi .fila .col ul li{
    margin: 12px 0;
}

.sobremi .fila .col ul li strong{
    display: inline-block;
    color: #1CB698;
    width: 130px;
}

.sobremi .fila .col ul li span{
    background-color: #1CB698;
    padding: 3px;
    font-weight: bold;
    border-radius: 5px;
}

.sobremi .fila .col .contenedor-intereses{
    display: flex;
    flex-wrap: wrap;
}

.sobremi .fila .col .contenedor-intereses .intereses{
    width: 100px;
    height: 100px;
    background-color: #252a2e;
    border-radius: 10px;
    margin: 0 15px 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .3s;
}

.sobremi .fila .col .contenedor-intereses .intereses:hover{
    background-color: #1CB698;
}

.sobremi .fila .col .contenedor-intereses .intereses i{
    font-size: 30px;
    margin-bottom: 10px;
}

.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
    z-index: 10;    
}

.sobremi button .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #1CB698;
    z-index: -1;
    transition: .5s;
}
/*Mio*/
.sobremi button:hover .overlay{
    width: 100%;
}

/*SKILLS*/
.skills{
    background-color: #252a2e;
    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.skills h2{
    font-size: 48px;
    font-family: 'Righteous';
    text-align: center;
    padding: 20px 0;
}

.skills .fila{
    display: flex;
}

.skills .col{
    width: 50%;
    padding: 0 20px;
}

.skills .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 25px;
}

.skills .skill > span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill{
    height: 8px; /*Este es el tamaño de la barra*/
    width: 80%;
    background-color: #121517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso{
    background-color: #1CB698;
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
}

.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #1CB698;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -17px;
    right: -15px;
    font-size: 14px;
}
/*tecnical skill*/
/*Estas clases se agrefaran automaticamente en JavaScript*/
.skills .skill .kali{
    width: 0%;
    animation: 5s kali forwards;
}

@keyframes kali{
    0%{width: 0%;}
    100%{width: 75%;}
}

.skills .skill .bash{
    width: 0%;
    animation: 4s bash forwards;
}

@keyframes bash{
    0%{width: 0%;}
    100%{width: 60%;}
}

.skills .skill .html{
    width: 0%;
    animation: 4s html forwards;
}

@keyframes html{
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .docker{
    width: 0%;
    animation: 5s docker forwards;
}

@keyframes docker{
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .mysql{
    width: 0%;
    animation: 4s mysql forwards;
}

@keyframes mysql{
    0%{width: 0%;}
    100%{width: 85%;}
}

.skills .skill .network{
    width: 0%;
    animation: 5s network forwards;
}

@keyframes network{
    0%{width: 0%;}
    100%{width: 95%;}
}

/*Professional skill*/

.skills .skill .equipo{
    width: 0%;
    animation: 5s equipo forwards;
}

@keyframes equipo{
    0%{width: 0%;}
    100%{width: 90%;}
}

.skills .skill .com{
    width: 0%;
    animation: 4s com forwards;
}

@keyframes com{
    0%{width: 0%;}
    100%{width: 80%;}
}

.skills .skill .pro{
    width: 0%;
    animation: 3s pro forwards;
}

@keyframes pro{
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .cre{
    width: 0%;
    animation: 2s cre forwards;
}

@keyframes cre{
    0%{width: 0%;}
    100%{width: 70%;}
}

.skills .skill .ded{
    width: 0%;
    animation: 5s ded forwards;
}

@keyframes ded{
    0%{width: 0%;}
    100%{width: 90%;}
}